/* Basic container styling */
.file-upload-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-color: #f4f7fc;
  padding: 20px;
}

/* Title styling */
.file-upload-container h1 {
  font-size: 2rem;
  color: #333;
  margin-bottom: 20px;
}

/* Styling for the dropzone area */
.dropzone {
  display: flex;
  flex-direction: column;
  justify-content: flex-end; /* Aligns content to the bottom */
  align-items: center;
  border: 2px dashed #0047ab;
  border-radius: 10px;
  width: 100%;
  padding: 20px;
  background-color: white;
}

.dropzone p {
  margin: 0;
  padding: 0;
  font-size: 1rem;
  color: #555;
  text-align: center;
  margin-top: 5px;
}

.odds-number {
  font-size: 1rem; /* Larger font size for the number */
  color: #0047ab;
  font-weight: 400;
}
.file-format {
  font-size: 0.4rem;
  color: #555;
  font-weight: 200;
}

/* Styling for the file preview after upload */
.file-preview {
  text-align: center;
  padding: 20px;
  margin-top: 20px;
}

.uploaded-file-box {
  text-align: center;
  background-color: white;
  padding: 15px;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: inline-block;
  max-width: 400px;
  width: 100%;
}

.uploaded-file-box p {
  font-size: 1rem;
  font-weight: bold;
  margin: 0;
  padding-bottom: 10px;
}

.uploaded-file-box button {
  background-color: #dc3545;
  color: white;
  padding: 8px 16px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  font-size: 0.9rem;
  transition: background-color 0.3s ease;
}

.uploaded-file-box button:hover {
  background-color: #c82333;
}

button {
  padding: 10px 20px;
  font-size: 1rem;
  border: none;
  background-color: #007bff;
  color: white;
  cursor: pointer;
  border-radius: 5px;
  margin-top: 20px;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #0056b3;
}

button:disabled {
  background-color: #ddd;
  cursor: not-allowed;
}

.upload-buttons {
  margin-top: 20px;
  display: flex;
  gap: 20px;
}

.upload-buttons button {
  font-size: 1rem;
  padding: 12px 24px;
}
