.cancer-page {
  padding: 20px;
  text-align: center;
}

.pdf-title {
  font-size: 2rem;
  margin-bottom: 20px;
}

.pdf-viewer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.back-button {
  background-color: #0047ab;
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 1rem;
  margin-bottom: 20px;
  cursor: pointer;
  text-decoration: none;
}

.back-button:hover {
  background-color: #003a8c;
}
/* Header Styling */
.header {
  width: 100%;
  background-color: rgb(13, 37, 71); /* Semi-transparent header */
  color: white;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  z-index: 1; /* Ensure header stays on top of the video */
}

.header h2 {
  font-size: 1.2rem;
  margin: 0;
}

.header ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  gap: 20px;
}

.header ul li {
  font-size: 1rem;
}

.header ul li a {
  color: white;
  text-decoration: none;
}

.header ul li a:hover {
  color: rgba(13, 37, 71, 0.8); /* Change the text color on hover */
  text-shadow: 0 0 10px rgba(13, 37, 71, 0.8); /* Add blurred shadow */
}
